$primary: #f49848;

$spinner-animation-speed: 1s;

$popover-header-bg: $primary;
$popover-arrow-width: 1.3rem;
$popover-arrow-height: 0.6rem;
$popover-arrow-color: $primary;
@import "../node_modules/bootstrap/scss/bootstrap";